.portfolio__footer {
  width: 100%;
  background-color: color(primary);
  padding: 1rem;
  padding-bottom: 11rem;


  @media (max-width: 1000px) {
    padding-bottom: 1rem;
  }

  &__content {
    color: color(light);
    font-size: size(sm);
    font-weight: 200;
    font-family: font(apple-font);
    margin-left: 50%;
    transform: translateX(-50%);
    width: max-content;
  }
}
