
.portfolio__section4 {
  &__content {
    &__header {
      z-index: 10;
    }

    &__bg {
      position: absolute;
      width: 100vw;
      z-index:0;
      height: 100vh;
      opacity: .7;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-image: url('/src/assets/images/blob.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      img {
        width: 100%;
      }
    }
  }

  @include section-header;

    &__content__list {
      z-index:10;
      width: 60%;


      &--unordered {
        list-style: none;
        font-size: size(lg);


        li {
          padding: 1rem;
          font-weight: bold;

          a {
            text-decoration: none;
            color: inherit;
            transition: color .6s cubic-bezier(0.19, 1, 0.22, 1);

            &:hover {
              color: color(quaternary);
            }
          }

          i {
            color: color(quaternary);
          }
         }
      }
    }

    &__content__arrow-up {
      z-index:10;
      position: absolute;
      right: 10px;
      top: 240px;
      font-size: size(xl) + 1rem;

      a {
        text-decoration: none;
        color: color(primary);;
        transition: all .6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        &:hover {
          font-size: size(xl) + 1.5rem;
          color: color(tertiary);
        }
      }

  }
}
