.portfolio__wrapper {
  font-family: font(apple-font);
  color: #000;
  opacity: 0;
  transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1);

  .section {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .portfolio__nav {
    position: fixed;
    z-index: 200;
    text-transform: uppercase;
    font-weight: 100;
    font-size: size(xs);
    margin-left: 50%;
    transform: translateX(-50%);


    ul {
      display: flex;
      list-style: none;

      li {
        padding: 2rem;
        text-align: center;

        a {
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          cursor: pointer;
        }

        &:hover .portfolio__nav--underline {
          width: 20%;
        }
      }
    }

    &--underline {
        width: 100%;
        height: 1px;
        background-color: color(primary);
        transition: width 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}


.portfolio__section1 {
  background-color: color(light);

  &__content {
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;

    &__bg {
      position: absolute;
      width: 100vw;
      height: 100vh;
      opacity: .2;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-image: url('/src/assets/images/blob.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      img {
        width: 100%;
      }
    }

    &__header {
      font-size: size(xs) + .1rem;
      text-align: center;

      span {
        font-weight: 300;
      }
    }
  }
}


.portfolio__section2 {
  background-color: color(quaternary);

  &__content {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    display: flex;

    &__header {
      width: 30%;
      color: color(primary);
      font-size: size(xl) + 3rem;
      font-weight: 100;
      text-decoration: underline;
    }

    &__list {
      width: 70%;
      border: .6px solid color(primary);
      border-radius: 10px;
      padding: 1rem;

      &--unordered {
        list-style: none;
        font-size: size(xl);

         li {
          padding: 1rem;
         }
      }
    }
  }
}

.portfolio__section3 {
  background-color: color(tertiary);

  &__content {
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    display: flex;

    &__header {
      width: 30%;
      color: color(primary);
      font-size: size(xl) + 3rem;
      font-weight: 100;
      text-decoration: underline;
    }

    &__list {
      width: 70%;
      border: .6px solid color(primary);
      border-radius: 10px;
      padding: 1rem;

      &--unordered {
        list-style: none;
        font-size: size(lg);

        li {
          padding: 1rem;
         }
      }
    }
  }
}
.portfolio__section4 {
  background-color: color(secondary);

  &__content {
    position: relative;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    display: flex;

    &__header {
      width: 30%;
      color: color(primary);
      font-size: size(xl) + 3rem;
      font-weight: 100;
      text-decoration: underline;
    }

    &__list {
      width: 70%;

      &--unordered {
        list-style: none;
        font-size: size(lg);

        li {
          padding: 1rem;

          i {
            color: color(quaternary);
          }
         }
      }
    }

    &__arrow-up {
      position: absolute;
      right: 10px;
      top: 240px;
      font-size: size(xl) + 1rem;

      a {
        text-decoration: none;
        color: color(quaternary);;
        transition: all .6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        &:hover {
          font-size: size(xl) + 1.5rem;
          color: color(tertiary);
        }
      }
    }
  }
}



.sushi, .rice, .ramen {
  font-size: 15rem;
  opacity: .85;
  display: inline;
}
