@mixin styled-list {
  li {
    padding: 1rem;
    border: .5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #888;
    transition: transform .6s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    a {
      text-decoration: none;
      color: inherit;
    }


    &:hover {
      transform: translate(2%, 2%);
      cursor: pointer;
    }
   }
}

@mixin section-header {
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    transform: translate(-50%, -50%);

    @media (max-width: 1000px) {
        flex-direction: column;
    }

    &__header {
      width: max-content;
      font-size: size(xl) + 3rem;
      font-weight: 300;
      color: color(primary);
      text-decoration: underline;

      @media (max-width: 1000px) {
        font-size: size(xl);
      }

    }
  }
}


