@mixin styled-list {
  li {
    padding: 1rem;
    border: .5px solid black;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px #888;
   }
}

@mixin section-header {
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    display: flex;
    font-weight: 200;
    transform: translate(-50%, -50%);

    @media (max-width: 1000px) {
        flex-direction: column;
    }

    &__header {
      width: max-content;
      font-size: size(xl) + 3rem;
      font-weight: 200;
      color: color(primary);
      text-decoration: underline;

      @media (max-width: 1000px) {
        font-size: size(xl);
      }

    }
  }
}


